.bhfe-receipt__meta-columns-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #000;
    margin: 0;
    padding: 0;
}

.bhfe-receipt {
    padding: 28px;
    font-size: 13px;
}


.bhfe-receipt__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    margin-bottom: 18px;
}

.bhfe-receipt__logo {
    max-width: 212px;
}


.bhfe-receipt__meta {
    margin-bottom: 18px;
}

.bhfe-receipt__meta-table {
    width: 100%;
    border-collapse: collapse;
}

.bhfe-receipt__meta-cell {
    vertical-align: top;
    padding-right: 20px;
    width: 33.33%;
}

.bhfe-receipt__meta-details {
    width: 100%;
    border-collapse: collapse;
}

.bhfe-receipt__meta-details th,
.bhfe-receipt__meta-details td {
    padding: 2px 0;
    text-align: left;
    white-space: nowrap;
}

.bhfe-receipt__meta-cell--details {
    padding-right: 0;
}

.bhfe-receipt__meta-details th {
    padding-right: 20px;
}

.bhfe-receipt__meta-column {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.bhfe-receipt__meta h3,
.bhfe-receipt__meta h4 {
    margin: 0 0 10px;
}

.bhfe-receipt__meta p {
    margin: 4px 0;
}

.bhfe-receipt__items,
.bhfe-receipt__totals {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 14px;
}

.bhfe-receipt__items {
    table-layout: fixed;
}

.bhfe-receipt__items th,
.bhfe-receipt__items td {
    border-bottom: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.bhfe-receipt__course-number {
    font-size: 12px;
    margin-top: 4px;
    color: #555;
}

.bhfe-receipt__items th:first-child,
.bhfe-receipt__items td:first-child {
    width: 75%;
}

.bhfe-receipt__items th:nth-child(2),
.bhfe-receipt__items td:nth-child(2) {
    width: 25%;
    text-align: right;
    white-space: nowrap;
}

.bhfe-receipt__items thead tr {
    background: #000;
    color: #fff;
}


.bhfe-receipt__totals {
    width: 100%;
    margin-left: 0;
    border-top: 4px solid #000;
    table-layout: fixed;
}

.bhfe-receipt__totals th,
.bhfe-receipt__totals td {
    padding: 6px;
    text-align: right;
}

.bhfe-receipt__totals th {
    font-weight: 600;
    text-align: left;
}

.bhfe-receipt__totals th:first-child,
.bhfe-receipt__totals td:first-child {
    box-sizing: border-box;
    padding-left: 20%;
}


.bhfe-receipt__totals-label-col {
    width: 80%;
}

.bhfe-receipt__totals-amount-col {
    width: 20%;
    text-align: right;
    white-space: nowrap;
}

.bhfe-receipt__total td {
    font-weight: 700;
}

.bhfe-receipt__totals tr:not(.bhfe-receipt__total) {
    border-bottom: 1px solid #ddd;
}


